In [1]:
import pandas as pd

In [2]:
import pyarrow as pa
import redis
import pandas as pd

In [3]:
# 宣告 redis 連線
r = redis.Redis(host='18.183.130.58', port=2222, db=0)
context = pa.default_serialization_context()

In [4]:
data = r.get('recomm')

InvalidResponse: Protocol Error: b'SSH-2.0-OpenSSH_7.6p1 Ubuntu-4ubuntu0.3'

In [5]:
df = pd.DataFrame.from_dict(context.deserialize(data))

NameError: name 'data' is not defined

In [6]:
df.head()

   userId                                   movieId
0     148  [138580, 151989, 203086, 183947, 194434]
1     463  [203086, 149484, 151989, 203882, 166812]
2     471  [203086, 183475, 204302, 192089, 151615]
3     496  [138580, 194160, 194434, 193918, 183947]
4     833  [203882, 194434, 193918, 192089, 139036]

In [11]:
inputId = 148
results = df[df['userId'] == inputId]['movieId']
mi = result[0]
print(mi)

[138580, 151989, 203086, 183947, 194434]

In [5]:
a = [138580, 151989, 203086, 183947, 194434]
print(a)

[138580, 151989, 203086, 183947, 194434]

In [25]:
dd= pd.read_csv('out_csv.csv')
dd.head()

,Year,Show,Season,User_Ratings,Audience_Score,Critic_Ratings,Tomatometer
0,2019,The Boys,1,3629,91,101,84
1,2020,The Boys,2,1638,79,95,97
2,2015,Schitt's Creek,1,747,89,26,65
3,2016,Schitt's Creek,2,278,95,6,100
4,2017,Schitt's Creek,4,193,96,13,100

In [92]:
dd= pd.read_csv('out_csv.csv')
movieId = [1, 2, 3, 4,5 ]
for i in movieId:
    movieInfo = dd.iloc[i]
    print(i)
    print("========================")
    #print(dd.iloc[i])
    select = pd.Series(movieInfo, index = movieInfo.keys())
    movieType = 6
    print(dd.iloc[i])
    print("=========================")
    print("movieType:", select[movieType])
    print("_________________________")

1
========================
Year                  2020
Show              The Boys
Season                   2
User_Ratings          1638
Audience_Score          79
Critic_Ratings          95
Tomatometer             97
Name: 1, dtype: object
=========================
movieType: 97
_________________________
2
========================
Year                        2015
Show              Schitt's Creek
Season                         1
User_Ratings                 747
Audience_Score                89
Critic_Ratings                26
Tomatometer                   65
Name: 2, dtype: object
=========================
movieType: 65
_________________________
3
========================
Year                        2016
Show              Schitt's Creek
Season                         2
User_Ratings                 278
Audience_Score                95
Critic_Ratings                 6
Tomatometer                  100
Name: 3, dtype: object
=========================
movieType: 100
_________________________
4
========================
Year                        2017
Show              Schitt's Creek
Season                         4
User_Ratings                 193
Audience_Score                96
Critic_Ratings                13
Tomatometer                  100
Name: 4, dtype: object
=========================
movieType: 100
_________________________
5
========================
Year                        2019
Show              Schitt's Creek
Season                         5
User_Ratings                 229
Audience_Score                94
Critic_Ratings                17
Tomatometer                  100
Name: 5, dtype: object
=========================
movieType: 100
_________________________

In [8]:
movie = pd.read_csv('movies.csv')
m  = movie.iloc[9999]
select = pd.Series(m, index = m.keys())
print(m)
print("=======")
#print(select[2])
Mtype = select[2]
Mtype_split = Mtype.split("|")
print("movieType:", Mtype_split)

movieId                                 33779
title      Eddie Izzard: Dress to Kill (1999)
genres                                 Comedy
Name: 9999, dtype: object
=======
movieType: ['Comedy']

In [186]:
movie = pd.read_csv('movies.csv')
#print(movie.head())
#print("===========")
m = movie.set_index("movieId")
#print(len(m))
print(m.head())
#print(m.tail())
input_ = 10000
mi  = m.iloc[input_]
select = pd.Series(mi, index = mi.keys())
#movieID = 4
print("==========")
a = select[1]
print(a)
b = a.split("|")
c = b[0]
print(set([c]))
print(b)

                                      title  \
movieId
1                          Toy Story (1995)
2                            Jumanji (1995)
3                   Grumpier Old Men (1995)
4                  Waiting to Exhale (1995)
5        Father of the Bride Part II (1995)

                                              genres
movieId
1        Adventure|Animation|Children|Comedy|Fantasy
2                         Adventure|Children|Fantasy
3                                     Comedy|Romance
4                               Comedy|Drama|Romance
5                                             Comedy
==========
Drama|Romance
{'Drama'}
['Drama', 'Romance']

In [114]:
num = 1
print(type(num))

<class 'int'>

In [1]:
# 引入 MySQLdb 模組，提供連接 MySQL 的功能
import pymysql

# 連接 MySQL 資料庫
db = pymysql.connect(host="10.2.1.234", user="root", passwd="tibame", db="Movies")
cursor = db.cursor()

#輸入movieId
in_ = 100
# 執行 MySQL 查詢指令
cursor.execute("SELECT genres FROM movie WHERE  movieId = {} ".format(in_))
# 取回所有查詢結果
results = cursor.fetchall()
#for i in results:
 #   print(i)
# 輸出結果
for record in results:
  col1 = record[0]
  #col2 = record[1]
  #col3 = record[2]
  #print( "%s, %s" % (col1, col3))
  col1 = col1.split("|")
  print((col1)[0])
# 關閉連線
db.close()

Drama

inputId = 148
results = df[df['userId'] == inputId]['movieId']
mi = result[0]
#print(mi)

In [183]:
# 引入 MySQLdb 模組，提供連接 MySQL 的功能
import pymysql
import re
# 連接 MySQL 資料庫
db = pymysql.connect(host="10.2.1.234",
    user="root", passwd="tibame", db="Movies")
cursor = db.cursor()





# inputId = request.form
# results = df[df['userId'] == inputId]['movieId']
# mi = result[0]
#movieid輸入
mi = [138580, 241, 4303, 1, 140990]
a = []
b = []
user1 = []
for i in range(0, 5):
    #print(mi[i])
#輸入movieId
    in_ = mi[i]
    cursor.execute("SELECT * FROM movie WHERE  movieId = {} ".format(in_))
# 執行 MySQL 查詢指令
    #cursor.execute("SELECT genres FROM movie WHERE  movieId = {} ".format(in_))
# 取回所有查詢結果
    results = cursor.fetchall()
#for i in results:
 #   print(i)
# 輸出結果

    
    for record in results:
        #col1 = record[0]
        #col2 = record[1]
        col3 = record[2]
        #print( "%s, %s, %s" % (col1,col2, col3))
        col3 = col3.split("|")
        #print((col3)[0])
        type_ = col3[0]
        type_ = type_.split('"')[0]
        a.append(type_)
        
print(a)
print("====================================")
# 關閉連線
db.close()



for item in a:
    category = ['Horror','Children','Comedy','Adventure']
    for i in category:
        pattern =  r'.*{}.*'.format(i)
        result = re.match(pattern,item)
        if result != None:
            #print(i)
            b.append(i)
        else:
            pass
print("custype:",b)
print("=====================")


db = pymysql.connect(host="10.2.1.234", user="root", passwd="tibame", db="TVShows")
cursor = db.cursor()


 #   cursor.execute("SELECT * FROM movie WHERE  movieId = {} ".format(in_))
cursor.execute("SELECT Title, Year_x, imdbRating, Genre FROM imdbdata order by imdbRating DESC, Year_x DESC ")
result = cursor.fetchall()

count = 0
for record in result:
    col1 = record[0]
    col2 = record[1]
    col3 = record[2]
    col4 = record[3]
    col4 = col4.split("|")

    for genre in col4:
        if count >  4:
            break
        for custype in b:
            if genre == custype:
                print("%s, %s, %s, %s" % (col1,col2, col3, col4))
                count += 1
            else:
                pass

['Horror', 'Children', 'Comedy\r', 'Adventure', ' La (1937)']
====================================
custype: ['Horror', 'Children', 'Comedy', 'Adventure']
=====================
Daba Teziane, 2019–2020, 10.0, ['Comedy', ' Drama', ' Family', ' Romance']
El Harba, 2019, 10.0, ['Comedy']
Thuththiri, 2018–, 10.0, ['Comedy', ' Sci-Fi']
Egotastic FunTime!, 2016–, 10.0, ['Comedy']
Ring Rajen, 2016–, 10.0, ['Comedy']

In [180]:
import re    #print( "%s, %s, %s, %s" % (col1,col2, col3, col4))
a = ['@#$%Horror&*()_', 'Children', 'Comedy\r', 'Adventure', ' La (1937)']
for item in a:
    category = ['Horror','Childr    #print( "%s, %s, %s, %s" % (col1,col2, col3, col4))en','Comedy','Adventure']
    for i in category:
        pattern =  r'.*{}.*'.format(i)
        result = re.match(pattern,item)
        if result != None:
            print(i)
        else:
            pass

Horror
Children
Comedy
Adventure

In [159]:
# 引入 MySQLdb 模組，提供連接 MySQL 的功能
import pymysql
import re
# 連接 MySQL 資料庫
db = pymysql.connect(host="10.2.1.234",
    user="root", passwd="tibame", db="Movies")
cursor = db.cursor()





# inputId = request.form
# results = df[df['userId'] == inputId]['movieId']
# mi = result[0]
#movieid輸入
mi = [138580, 241, 4303, 1, 140990]
a = []
b = []
user1 = []
for i in range(0, 5):
    #print(mi[i])
#輸入movieId
    in_ = mi[i]
    cursor.execute("SELECT * FROM movie WHERE  movieId = {} ".format(in_))
# 執行 MySQL 查詢指令
    #cursor.execute("SELECT genres FROM movie WHERE  movieId = {} ".format(in_))
# 取回所有查詢結果
    results = cursor.fetchall()
#for i in results:
 #   print(i)
# 輸出結果

    
    for record in results:
        #col1 = record[0]
        #col2 = record[1]
        col3 = record[2]
        #print( "%s, %s, %s" % (col1,col2, col3))
        col3 = col3.split("|")
        #print((col3)[0])
        type_ = col3[0]
        type_ = type_.split('"')[0]
        a.append(type_)
        
print(a)
print("====================================")
# 關閉連線
db.close()



for item in a:
    category = ['Horror','Children','Comedy','Adventure']
    for i in category:
        pattern =  r'.*{}.*'.format(i)
        result = re.match(pattern,item)
        if result != None:
            #print(i)
            b.append(i)
        else:
            pass
print("custype:",b)
print("=====================")


db = pymysql.connect(host="10.2.1.234", user="root", passwd="tibame", db="TVShows")
cursor = db.cursor()


 #   cursor.execute("SELECT * FROM movie WHERE  movieId = {} ".format(in_))
cursor.execute("SELECT Title, Year_x, imdbRating, Genre FROM imdbdata order by imdbRating DESC, Year_x DESC ")
result = cursor.fetchall()

count = 0
for record in result:
    col1 = record[0]
    col2 = record[1]
    col3 = record[2]
    col4 = record[3]
    col4 = col4.split("|")

    for genre in col4:
        for custype in b:
            if genre == custype:
                tmp = [col1,col2, col3, col4]
                user1.append(tmp)
            else:
                pass
            
    if count > 4:
        break
    else:
        for r in user1:
            c1 = r[0]
            c2 = r[1]
            c3 = r[2]
            c4 = r[3]
            print("%s, %s, %s, %s" % (col1,col2, col3, col4))
            count += 1

['Horror', 'Children', 'Comedy\r', 'Adventure', ' La (1937)']
====================================
custype: ['Horror', 'Children', 'Comedy', 'Adventure']
=====================
Daba Teziane, 2019–2020, 10.0, ['Comedy', ' Drama', ' Family', ' Romance']
À Brasileira, 2019–, 10.0, ['Documentary']
Boss Hoggin Road Trip Series, 2019–, 10.0, ['Reality-TV']
Shiny New Things, 2019–, 10.0, ['Drama']
Tunadas, 2019–, 10.0, ['Documentary']

In [20]:
import re
import pymysql
movie = pd.read_csv('movies.csv')
m = movie.set_index("movieId")
input_ = 1
# movie_ID = input_['電影名字']
# input_s = int(movie_ID)
m  = movie.iloc[input_]
select = pd.Series(m, index = m.keys())
a = select[2]
c = a.split("|")
print(c)

b = []
user1 = [] 
for item in c:
    category = ['Horror','Children','Comedy','Adventure', 'Fantasy']
    for i in category:
        pattern =  r'.*{}.*'.format(i)
        result = re.match(pattern,item)
        if result != None:
            b.append(i)
        else:
            pass
print(b)

db = pymysql.connect(host="10.2.1.234", user="root", passwd="tibame", db="TVShows")
cursor = db.cursor()
cursor.execute("SELECT Title, Year_x, imdbRating, Genre FROM imdbdata order by imdbRating DESC, Year_x DESC ")
result = cursor.fetchall()

count = 0
ans = []
for record in result:
    col1 = record[0]
    col2 = record[1]
    col3 = record[2]
    col4 = record[3]
    col4 = col4.split("|")

    for genre in col4:
        if count >  4:
            break
        for custype in b:
            if genre == custype:
                ans.append(col1)
                count += 1
                #print(ans)
            else:
                pass
print(ans)

['Adventure', 'Children', 'Fantasy']
['Adventure', 'Children', 'Fantasy']
['Meie aasta Siberis', 'Reto 4 elementos: naturaleza extrema', 'Meie aasta Iraanis', 'Junk Drawer Magical Adventures', 'Canal Boat Diaries']